.container {
  width: 100%;
  min-height: 90%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
}
.box {
  width: 400px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.9);
  border: 2px solid rgba(143, 227, 7, 0.7);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.text {
  font-family: Inter;
  color: #fff;
}

.btn {
  width: 260px;
  padding: 10px;
  background: rgba(143, 227, 7, 0.8);
  font-size: Inter;
  font-weight: 600;
  color: #000;
  border: none;
  border: 2px solid rgba(143, 227, 7, 0.8);
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
  background: rgba(143, 227, 7, 1);
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  border: 2px solid rgba(143, 227, 7, 1);
}
