.container {
  width: 22%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
}
.center {
  width: 100%;
  margin: 0 auto;
}
.firstFilterContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 120px;
  padding-left: 20px;
}
.titleFilter {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 10px;
}
.select {
  width: 90%;
  background: transparent;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  text-transform: capitalize;
}
.select:hover {
  cursor: pointer;
}
.select option {
  font-family: Inter;
  font-weight: 300;
  font-size: 13px;
  cursor: pointer;
}

.refresh {
  width: 50%;
  padding: 10px;
  font-family: Inter;
  margin: auto;
  border-radius: 8px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  border: 2px solid rgba(143, 227, 7, 0.7);
  border-radius: 5px;
  border-top: 2px solid rgba(143, 227, 7, 0.7);
  border-bottom: 2px solid rgba(143, 227, 7, 0.7);
}
.refresh:hover {
  background-color: rgba(143, 227, 7, 0.9);
  color: #000;
  border: none;
}

/* rgba(143, 227, 7, 0.7) */
