.container {
  width: 22%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 3;
}
.firstFilterContainer {
  padding-top: 120px;
}
.titleFilter {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.select {
  background: transparent;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
  outline: none;
  text-transform: capitalize;
}
.select:hover {
  cursor: pointer;
}
.select option {
  font-family: Inter;
  font-weight: 300;
  font-size: 13px;
  cursor: pointer;
}

.containerCheckbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  margin: 8px 0 5px 20px;
}

/* rgba(143, 227, 7, 0.7) */
