.input {
  width: 100%;
  height: 46px;
  background: transparent;
  border: 1.5px solid rgba(143, 227, 7, 0.7);
  border-radius: 5px;
  padding: 10px;
  outline: none;
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  margin: 5px 0 15px 0;
}

.input:focus {
  border: 1.5px solid rgba(143, 227, 7, 1);
}
